<div class="mt-4 bg-light text-dark text-center">
    <h2>Market Statistics</h2>
</div>

<ng-container *ngIf="(getStockDataStatus$ | async) === true">
<app-top-stocks-today></app-top-stocks-today>
</ng-container>


<div class="mt-4 bg-light text-dark text-center">
    <h2>Top Longs Today</h2>
</div>

<ng-container *ngIf="(getStockDataStatus$ | async) === true">
    <app-top-longs-today></app-top-longs-today>
</ng-container>


<div class="mt-4 bg-light text-dark text-center">
    <h2>Top Shorts Today</h2>
</div>

<ng-container *ngIf="(getStockDataStatus$ | async) === true">
<app-top-shorts-today></app-top-shorts-today>
</ng-container>


<div class="mt-4 bg-light text-dark text-center">
    <h2>My Watchlist</h2>
</div>

<ng-container *ngIf="(getStockDataStatus$ | async) === true">
<app-my-watchlist></app-my-watchlist>
</ng-container>
