<div class="mt-4 text-end">
  <button mat-mini-fab class="green-button" aria-label="Switch to Realtime" matTooltip="Switch to Realtime"
    routerLink="/">
    <mat-icon>fast_rewind</mat-icon>
  </button>
</div>

<div class="mt-4 bg-light text-dark text-center">
  <h2>Simulation</h2>
</div>

<div class="mt-4 bg-light text-dark text-center">
  <h2>Data Import - Period</h2>
</div>

<div class="container mt-4">
  <form [formGroup]="dateRangeForm">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startDate" />
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="endDate" [matDatepickerFilter]="endDateFilter" />
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button mat-mini-fab class="green-button" (click)="submit()" aria-label="Import" matTooltip="Import">
          <mat-icon>arrow_downward</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="mt-4 bg-light text-dark text-center">
  <h2>Market at Datetime</h2>
</div>

<!-- New Form for Date and Time Picker -->
<div class="container mt-4">
  <form [formGroup]="dateTimeForm">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Date</mat-label>
          <input matInput [matDatepicker]="picker3" formControlName="selectedDate" />
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select Time</mat-label>
          <mat-select formControlName="selectedTime">
            <mat-option *ngFor="let time of timeOptions" [value]="time">{{
              time
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <button mat-mini-fab class="green-button" (click)="submitDateTime()" aria-label="Submit" matTooltip="Submit">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<app-market-statistics></app-market-statistics>