.mat-mdc-table .mat-mdc-header-cell {
    background-color: #e0e0e0 !important; /* Grey color, adjust as needed */
  }
  

  .table-responsive {
    overflow-y: auto;
    max-height: 500px; /* Adjust based on your needs */
  }
  