.statistics-card .mat-table {
  width: 100%;
  min-width: 1000px; /* Adjust based on your requirements */
}

/* Stylesheet for your Angular component */

.mat-mdc-table .mat-mdc-header-cell {
  background-color: #e0e0e0 !important; /* Grey color, adjust as needed */
}

/* Stylesheet for your Angular component */
.positive-value {
  color: green;
}

.negative-value {
  color: red;
}


