/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.min.css';


// Assuming you have included your custom theme configuration

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.green-button {
    background-color: #4CAF50 !important;
    color: white !important;
  }
  
  .green-button:hover {
    background-color: #45a049 !important;
  }
  
